{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container-fluid" style="min-height: 100vh;">
    <div class="row d-flex my-5 justify-content-center">
        <div class="col-md-10 mx-auto card p-2 mt-2 border border-light">
            <img src="https://res.cloudinary.com/slava-cloud/image/upload/v1683820791/image_processing20191118-27672-fks205_hmnpeu.jpg"
                alt="404 page image" class="mx-auto rounded" style="max-width:70%; max-height: 70%;">
            <div class="row mx-auto">
                <div class="col-md-3 mt-3">
                    <a href="{% url 'home' %}" class="btn btn-outline-dark">Home</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}