@import url('https://fonts.googleapis.com/css2?family=Gelasio:wght@400;700&display=swap');

* {
    font-family: 'Gelasio', serif;
}

.signup-section {
    background-color: #B04759;
}

.verify-container {
    padding: 100px;
}

.confirm-email-container{
    padding: 90px;
}

.logout-container {
    padding: 100px;
}

.message-container {
    position: fixed;
    top: 50px;
    right: 30px;
    z-index: 9999999999;
}

.toast-capper {
    height: 2px;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

.index-text {
    font-family: 'Gelasio', serif;
    font-weight: 700;
    font-size: 70px;
    letter-spacing: 3px;
    text-align: left;
    padding: 5%;
    color: 	#FFF8D6;
}

.main-divider {
    height: 10px;
    width: 30%;
    background-color: #DAB88B;
    border-radius: 5px;
}

.home-container {
    background-color: #EA5455;
}

.navbar-dark {
    background-color: #332C39;
}

.line-one {
    content: "";
    position: absolute;
    right: 113%;
    height: 100%;
    width: 6vh;
    background: #470D21;
    -webkit-transform: skew(-15deg);
    -moz-transform: skew(-15deg);
    transform: skew(-15deg);
    z-index: 100;
}

.line-two {
    content: "";
    position: absolute;
    right: 107%;
    height: 100%;
    width: 6vh;
    background: #9C0F48;
    -webkit-transform: skew(-15deg);
    -moz-transform: skew(-15deg);
    transform: skew(-15deg);
    z-index: 100;
}

.line-three {
    content: "";
    position: absolute;
    right: 101%;
    height: 100%;
    width: 6vh;
    background: #D67D3E;
    -webkit-transform: skew(-15deg);
    -moz-transform: skew(-15deg);
    transform: skew(-15deg);
    z-index: 100;
}

.line-four {
    content: "";
    position: absolute;
    right: 95%;
    height: 100%;
    width: 6vh;
    background: #F9E4D4;
    -webkit-transform: skew(-15deg);
    -moz-transform: skew(-15deg);
    transform: skew(-15deg);
    z-index: 100;
}

.main-image {
    height: 100%;
    width: 100%;
}

/* main button */
:root {
    --glow-color: hsl(50, 100%, 92%)
}

.glowing-btn {
    position: relative;
    color: var(--glow-color);
    cursor: pointer;
    padding: 0.35em 1em;
    border: 0.15em solid var(--glow-color);
    border-radius: 0.45em;
    background: none;
    perspective: 2em;
    font-family: 'Gelasio', serif;
    font-size: 2em;
    font-weight: 900;
    letter-spacing: 1em;
  
    -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
      0px 0px 0.5em 0px var(--glow-color);
    -moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
      0px 0px 0.5em 0px var(--glow-color);
    box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
      0px 0px 0.5em 0px var(--glow-color);
    animation: border-flicker 2s linear infinite;
  }
  
  .glowing-txt {
    float: left;
    margin-right: -0.8em;
    -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
      0 0 0.45em var(--glow-color);
    -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
      0 0 0.45em var(--glow-color);
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
    animation: text-flicker 3s linear infinite;
  }
  
  .faulty-letter {
    opacity: 0.5;
    animation: faulty-flicker 2s linear infinite;
  }
  
  .glowing-btn::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.7;
    filter: blur(1em);
    transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
    background: var(--glow-color);
    pointer-events: none;
  }
  
  .glowing-btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: -1;
    background-color: var(--glow-color);
    box-shadow: 0 0 2em 0.2em var(--glow-color);
    transition: opacity 100ms linear;
  }
  
  .glowing-btn:hover {
    color: rgba(156, 15, 72, 1);
    text-shadow: none;
    animation: none;
  }
  
  .glowing-btn:hover .glowing-txt {
    animation: none;
  }
  
  .glowing-btn:hover .faulty-letter {
    animation: none;
    text-shadow: none;
    opacity: 1;
  }
  
  .glowing-btn:hover:before {
    filter: blur(1.5em);
    opacity: 1;
  }
  
  .glowing-btn:hover:after {
    opacity: 1;
  }
  
  @keyframes faulty-flicker {
    0% {
      opacity: 0.1;
    }
    2% {
      opacity: 0.1;
    }
    4% {
      opacity: 0.5;
    }
    19% {
      opacity: 0.5;
    }
    21% {
      opacity: 0.1;
    }
    23% {
      opacity: 1;
    }
    80% {
      opacity: 0.5;
    }
    83% {
      opacity: 0.4;
    }
  
    87% {
      opacity: 1;
    }
  }
  
  @keyframes text-flicker {
    0% {
      opacity: 0.1;
    }
  
    2% {
      opacity: 1;
    }
  
    8% {
      opacity: 0.1;
    }
  
    9% {
      opacity: 1;
    }
  
    12% {
      opacity: 0.1;
    }
    20% {
      opacity: 1;
    }
    25% {
      opacity: 0.3;
    }
    30% {
      opacity: 1;
    }
  
    70% {
      opacity: 0.7;
    }
    72% {
      opacity: 0.2;
    }
  
    77% {
      opacity: 0.9;
    }
    100% {
      opacity: 0.9;
    }
  }
  
  @keyframes border-flicker {
    0% {
      opacity: 0.1;
    }
    2% {
      opacity: 1;
    }
    4% {
      opacity: 0.1;
    }
  
    8% {
      opacity: 1;
    }
    70% {
      opacity: 0.7;
    }
    100% {
      opacity: 1;
    }
  }

  /* footer */
footer {
    background-color: #332C39;
}

.custom-heading {
  font-size: 1.7rem;
}

/* mailchimp*/
#mc_embed_signup {
  background: #332C39;
  clear: left;
  width: 600px;
}

/* media*/

@media screen and (max-width: 400px) {
    .index-text {
        font-size: 45px;
    }
    .glowing-btn{
        font-size: 1em;
      }
}